
<div class="container">

<div class="jumbotron">

<h1>YUMMY BURGERS!</h1>
</div>



<div class="row">

<div class="card col-5">
<h2>Eat Me!!</h2>

<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}.  {{this.burger_name}}     

      <button data-id="{{id}}" data-newstatus="{{devoured}}" class="change-status">Devour!!</button>
    </p>
  </li>
  {{/each}}
</ul>

</div>
<div class="card col-5">
  <h2>In Your Belly!</h2>
</div>


</div>
<div class="row">
<div class="card col-12">

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devouredchecked>">Available?</label><br>
    <input type="radio" name="devoured" value="1">  Devoured!<br>
    <input type="radio" name="devoured" value="0"> Available
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>

</div>




</div>